
  $mgsl-orange : #ec7e24;
  $login-btn : #15bf7d;
  $login-btn-hover: #4dbe92;
  $continue-btn : #EC7E25;
  $continue-btn-hover: #e9a56f;
  $home-page-blue: #6690CC;
  $home-page-blue-hover:#96accc;
  $home-page-green: #489666;
  $home-page-green-hover: #7ea79b;
  $home-page-red : #FE0002;
  $home-page-grey: #D7D7D7;
  $forms-grey-bg: #f7f6f6;